<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>{% block title %} {% endblock %}</title>
{% load staticfiles %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/baseStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Over+the+Rainbow" />
      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" language="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  	
  	<!-- GET JQUERY FROM THE GOOGLE APIS -->
<script src="./Blessing   Home_files/jquery.min.js"></script>
<!--[if lt IE 9]>
	<script src="js/selectivizr-and-extra-selectors.min.js"></script>
<![endif]-->
<script src="./Blessing   Home_files/respond.min.js"></script>

 <!-- JQUERY KENBURN SLIDER  -->	
<script src="./Blessing   Home_files/jquery.themepunch.plugins.min.js"></script>			
<script src="./Blessing   Home_files/jquery.themepunch.revolution.min.js"></script>	
<script src="./Blessing   Home_files/jquery.easing.1.3.js"></script>
<script src="./Blessing   Home_files/jquery.cycle.all.min.js"></script>
<script src="./Blessing   Home_files/mediaelement-and-player.min.js"></script>
<script src="./Blessing   Home_files/jquery.fancybox.pack.js"></script>
<script src="./Blessing   Home_files/custom.js"></script>
<script src="./Blessing   Home_files/changer.js"></script>
  	
  	
</head>
<body>
<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->	
	
	<header id="header">
		
		
		
		<div class="row">
		
		  <!-- - - - - - - - - - - - Logo - - - - - - - - - - - - - -->
		   <div class="col-md-offset-1 col-md-6">
             <a href="#" id="logo">
				<h1><span style="color:#FF9933">Pradee</span> <span style="color:#FFFFFF">Chappidi </span> <span style="color:#138808">Association</span></h1>
			 </a><!--/ #logo-->	
		   </div>
		   <!-- - - - - - - - - - - end Logo - - - - - - - - - - - - -->
		
		  <!-- - - - - - - - - - - - Event Holder - - - - - - - - - - - - - -->	
		   <div class="col-md-4">
            <div class="event-holder clearfix">
				<b>next event in:</b>
				<span class="event-numbers">05</span>
				<span class="event-text">days</span>
				<span class="event-numbers">07</span>
				<span class="event-text">hr</span>
				<span class="event-numbers">25</span>
				<span class="event-text">min</span>
				<span class="event-numbers">35</span>
				<span class="event-text">sec</span>
			</div><!--/ .event-holder-->				
		   </div>
		  <!-- - - - - - - - - - - end Event Holder - - - - - - - - - - - - -->	
			 
        </div>
        
        <div class="row">
		   <div class="col-md-offset-3 col-md-9">
         
           </div>
		</div>
           
		<div class="container">
			
			
			
			
			
			
			
			<!-- - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - -->	

			<nav id="navigation" class="navigation clearfix">

				<ul class="clearfix">
					<li class="current-menu-item"><a href="#">Home</a></li>
					<li class=""><a href="#">Features<span class="downarrowclass"></span></a>
						<ul style="display: none;">
							<li><a href="#">Typography</a></li>
							<li><a href="#">Testimonials</a></li>
							<li><a href="#">FAQ Toggle</a></li>
							<li><a href="#">Notifications</a></li>
							<li><a href="#">Buttons</a></li>
							<li><a href="#">Column Layout</a></li>
							<li><a href="#">Right Sidebar Page</a></li>
							<li><a href="#">Left Sidebar Page</a></li>
							<li><a href="#">Full Width</a></li>
							<li><a href="#">Tabs</a></li>
						</ul>
					</li>
					<li><a href="#">Staff</a></li>
					<li class=""><a href="#">Events<span class="downarrowclass"></span></a>
						<ul style="display: none;">
							<li><a href="#">Upcoming Events</a></li>
							<li><a href="#">Arcvhived Events <span class="rightarrowclass"></span></a>
								<ul>
									<li><a href="#">Year 2014</a></li>
									<li><a href="#">Year 2013</a></li>
									<li><a href="#">Year 2012</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#">Portfolio<span class="downarrowclass"></span></a>
						<ul>
							<li><a href="#">Full Width<span class="rightarrowclass"></span></a>
								<ul>
									<li><a href="#">1 Column</a></li>
									<li><a href="#">2 Columns</a></li>
									<li><a href="#">3 Columns</a></li>
								</ul>
							</li>
							<li><a href="#">With Sidebar<span class="rightarrowclass"></span></a>
								<ul>
									<li><a href="#">1 Column</a></li>
									<li><a href="#">2 Columns</a></li>
								</ul>
							</li>
							<li><a href="#">With Filters</a></li>
							<li><a href="#">Mixed</a></li>
							<li><a href="#">Single Page<span class="rightarrowclass"></span></a>
								<ul>
									<li><a href="#">Full Width</a></li>
									<li><a href="#">With Sidebar</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class=""><a href="#">Galleries<span class="downarrowclass"></span></a>
						<ul style="display: none;">
							<li><a href="#">Full Width<span class="rightarrowclass"></span></a>
								<ul>
									<li><a href="#">2 Columns</a></li>
									<li><a href="#">3 Columns</a></li>
									<li><a href="#">4 Columns</a></li>
								</ul>
							</li>
							<li class=""><a href="#">With Sidebar<span class="rightarrowclass"></span></a>
								<ul style="display: none;">
									<li><a href="#">2 Columns</a></li>
								</ul>
							</li>
							<li><a href="#">With Filters</a></li>
							<li><a href="#">Mixed</a></li>
						</ul>
					</li>
					<li><a href="#">News<span class="downarrowclass"></span></a>
						<ul>
							<li><a href="#">All News</a></li>
							<li><a href="#">Date Archives<span class="rightarrowclass"></span></a>
								<ul>
									<li><a href="#">Year Archive</a></li>
									<li><a href="#">Month Archive</a></li>
									<li><a href="#">Day Archive</a></li>
								</ul>
							</li>
							<li><a href="#">Single Post</a></li>
						</ul>
					</li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">Kids Activities</a></li>
					<li><a href="#">Telugu Recepies</a></li>
					<li><a href="#">Contacts</a></li>
				</ul>
				
			</nav><!--/ #navigation-->

			<!-- - - - - - - - - - - - end Navigation - - - - - - - - - - - - - -->	
			::after
		</div><!--/ .container-->
		::after
	</header><!--/ #header-->
	
	<!-- - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->


</body>
</html>

	